<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/styles/desktop.css">
  <link rel="stylesheet" href="../../public/styles/main.css">
  <link rel="stylesheet" href="../../public/styles/mobile.css">
  <link rel="stylesheet" href="https://use.typekit.net/ynp6pbo.css">
  
  <title>Placon</title>
</head>
<body>
  <div class="menu">
    <div class="logoMenu">
      <img src="../../public/images/logoMenu.png" alt="Logo">
    </div>
  </div>
  <div class="container">
    <div class="container-content">
      <div class="royalVille-container">
        <img src="../../public/images/logo.svg" alt="">
        <p>Idealizado para<br/>sua família</p>
      </div>
      <div class="middle-container">
        <div class="splash-container">
          <p>Apartamentos de 4<br/> quartos com 02 suites<br/> churrasqueira varanda<br/>e 2 vagas</p>
        </div>
        <div class="btnContainer">
          <a href="#">Clique e saiba mais</a>
        </div>
      </div>
      <div class="fachada-container"></div>
    </div>
    </div>
  <footer>
    <div class="phone-container">
      <img src="../../public/images/phone-alt-solid (6).svg" alt="phone">
      <p class="phone">(21) 2620-2212</p>
    </div>
    <div class="address-container">
      <img src="../../public/images/map-marker-alt-solid (5).svg" alt="map-marker">
      <p class="address">Rua Cel. Moreira Cesar nº 426, sala 1007. Icaraí, RJ Cep: 24230-068</p>
    </div>
    <div class="email-container">
      <a href="placon@placon-construcao.com.br">placon@placon-construcao.com.br</a>
    </div>
    
    <div class="button">
      <a href="#">Acesse o site antigo da Placon</a>
    </div>
  </footer>
  <script src="/public/js/script.js"></script>
</body>
</html>