@import url("https://use.typekit.net/aro1pci.css");
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;1,100&display=swap');

@media(min-width:767px){

  body{
    width: 100vw;
    min-width: 1262px;
  }

/* MENU */
.menu{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  min-width: 1231px;
  
}

.logoMenu img{
  border-radius: 0 0 25px 25px;
  box-shadow: -5px 8px 20px rgba(3,3,3, 0.5);
  width: 190px;
}

 /* CONTAINER */
.container{
  width: 100%;
  height: 570px;
  /* min-width: 1231px; */
  background-image: url("../../public/images/Component\ 1\ –\ 1.svg");
}

.container-content{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;
  
}

.royalVille-container p{
  text-transform: uppercase;
  font-size: 1.1rem;
  text-align: center;
}

.splash-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/images/splash.svg");
  width: 509px;
  height: 390px;
  
}

.splash-container p{
  line-height: 28px;
  margin-top: 20px;
  font-weight: normal;
  font-style: inherit;
  text-align: center;
  margin-left: 25px;
  transform: rotate(10deg);
  font-size: 1.3rem;
  text-transform: uppercase;
  
}
.btnContainer{
  cursor: pointer;
  margin-left: 160px;
  margin-top: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 35px;
  background-color: #BB5913;
}

.btnContainer a{
  font-size: 1.1rem;
  color: white;
  flex-wrap: wrap;
  text-decoration: none;
}

.fachada-container{
  width: 450px;
  height: 100%;
  background-image: url("../images/fachada.svg");
  background-image: no-repeat;
  image-resolution: 50%;
  
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #101010;
  border-top: solid 15px #E27B32;
  min-width: 1231px;
}

footer p{
  color: #D2D2D2;
  font-size: 1rem;
}

footer .button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  border-radius: 8px;
  background-color: #BB5913;
  width: 232px;
  height: 25px;
}

.email-container a{ 
  font-size: 1.2rem;
  text-decoration: none;
  color: #D2D2D2;
  margin-left: 8px;
}

.button a{
  font-style: normal;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 4px;
}

.phone-container, .address-container, .email-container{
  margin-left: 32px;
  display: flex;
}

.phone-container p, .address-container p, .email-container a{
  margin-left: 8px;
}
}